<ModConfiguration>
  <Id>ReikaKalseki.ChromedLPTRebalance</Id>
  <Name>ChromedLPTRebalance</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
	Rebalances chromed lenses on LPTs to make them give use to lower tier LPTs, even in later game, and to make them a more substantial improvement over the exquisite organic lens, better bridging the gap between that and conduits.
  </Description>
</ModConfiguration>